Repository porn-vault/plugins, pull requests merged in 2020-05, with the labels that each got.

#12 (freeones) Added weight, alias, and zodiac data. Added metric/imperial args for height/weight.
  plugins/freeones/README.md
  plugins/freeones/info.json
  plugins/freeones/main.js
  plugins/freeones/test/whitney.spec.js
Labels: enhancement, needs test coverage

#10 Extended profile pic plugin.
  README.md
  plugins/profile_pics/README.md
  plugins/profile_pics/info.json
  plugins/profile_pics/main.js
  plugins/profile_pics/test/index.spec.js
Labels: needs test coverage

#16 docs: generate plugin events in readme
  README.md
  md_gen/README.md
  md_gen/index.ts
  md_gen/plugin_template.md
  plugins/adultempire/README.md
  plugins/adultempire/info.json
  plugins/freeones/README.md
  plugins/freeones/info.json
  plugins/label_filter/README.md
  plugins/label_filter/info.json
  plugins/profile_pics/README.md
  plugins/profile_pics/info.json
Labels: enhancement
